* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #1f1f1f;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.logo span {
  color: #f78e21;
}

.hero {
  padding: 50px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0
